body{
    background-color: rgb(199, 198, 198);
}
.login{
    background-color: white;
    width:480px;
    margin: auto;
    border-radius:10px;
    box-shadow: 8px 8px 7px gray;
    text-align: center;
    margin-top: 80px;
}
.pbimg{
    height: 90px;
    margin-top:10px;
}
.Sign{
    background-color: white;
    border-radius: 20px;
    width:340px;
    font-size: large;
    height: 42px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 4px 4px 5px gray;
    margin: auto;
    padding-bottom: 5px;
}
p{
    font-weight: bold;
    margin:20px;
    
}
.signimg{
    height: 30px;
    width: 30px;
}
.imgapple{
    height: 40px;
    width: 40px;
}
input{
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}
.nxt{
    background-color: black;
    color: white;
    border-radius:25px;
    width: 310px;
    padding: 10px;
}
.pw{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius:25px;
    width: 310px;
    padding: 10px;
    border: 1px solid gray;
    margin:15px
}
.noacc{
    color: gray;
    font-weight: bold;
}
a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}